body {
    margin: 0;
    font-family: Arial;
    color: white;
    overflow-x: hidden;
    background: black;
}

/* INTRO */
#intro {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#intro button {
    padding: 10px 20px;
}

/* LOCK */
#lockScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

/* MAIN */
#main {
    display: none;
    text-align: center;
}

/* BACKGROUND */
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('IMG_2620.jpeg') center/cover no-repeat;
    filter: brightness(0.3) blur(3px);
    z-index: -2;
}

/* TITLE */
.title {
    margin-top: 40px;
    font-size: 28px;
}

/* COUNTER */
#counter {
    font-size: 20px;
    margin-top: 15px;
}

/* TEXT */
.typing {
    width: 80%;
    margin: 20px auto;
    font-size: 18px;
}

/* SLIDER */
.slider {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px;
}

.slider img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.slider img:hover {
    transform: scale(1.05);
}

/* HEART CANVAS */
#hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
